*{
    padding: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    

}

#new{
    height: 45px;
    width: 70px;
    border-radius: 25%;
    background-color: rgba(255, 0, 0, 0.486);
    color: black;
}


button{
    padding: 10px;
    margin: 10px;
    height: 40px;
    width: 40px;
    background-color: red;
    /* color: rgba(0, 0, 0, 0); */
    
}
button:hover{
    background-color: rgba(165, 42, 42, 0.308);
    color:rgba(165, 42, 42, 0);
}

